[run]
source =
    search_events_app/models/*
    search_events_app/views.py

omit =
    templates/*
    env/*
    */test*
    search_events/*
    */migrations/*
    */dummy_api.py
    *.md
    search_events_app/admin.py
    search_events_app/apps.py
    search_events_app/urls.py
    manage.py
    populate_country_table.py


[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite