.width-90 {
    width: 90%;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #ffffff;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
    width: 95%;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0%;
    right: 5%;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.flag {
  width: 50px;
  height: auto;
}

.reduce {
  width: 40px;
  height: auto;
}


.feed-header__title-top {
  color:#f05537;
  border: none;
}

.blue-eb{
  background-color: #1E0A3C
}
input::placeholder {
  color: #495057 !important;
}

.page-link {
  color: #f05537;
}

.page-link:hover {
  color: #f05537;
}

.orange-eb {
  background-color: #f05537;
}

.orange-eb:hover {
  background-color: #db2a07;
}

.text-orange {
  color: #f05537;
}

.text-orange:hover {
  color: #1E0A3C;
}

.thead-blue-eb {
  background-color: #1E0A3C;
}

.clear-filter:hover{
    background-color: #d32926;
    color: white;
    cursor:pointer;
}

.clear-filter{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .375rem .375rem .375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.bootstrap-select .dropdown-toggle .filter-option {
  position: relative !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}
.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*="col-"] {
  padding: 1 !important;
}
