{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

<!-- Material Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!-- Page Icon -->
<link rel="icon" href="{% static "img/eventbrite_logo.png"%}">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<!-- JavaScript -->
<script type="text/javascript" src="{% static "js/onReady.js" %}"></script>
<script type="text/javascript" src="{% static "js/stateManager.js" %}"></script>
<script type="text/javascript" src="{% static "js/filterManager.js" %}"></script>
<script type="text/javascript" src="{% static "js/inputEvents.js" %}"></script>
<script type="text/javascript" src="{% static "js/formManager.js" %}"></script>
<script type="text/javascript" src="{% static "js/spinnerManager.js" %}"></script>
<script type="text/javascript" src="{% static "js/keyCodes.js" %}"></script>
<script type="text/javascript" src="{% static "js/listManager.js" %}"></script>
<script type="text/javascript" src="{% static "js/colorManager.js" %}"></script>
<script type="text/javascript" src="{% static "js/url.js" %}"></script>
<script type="text/javascript" src="{% static "js/datePickerManager.js" %}"></script>

{% block content %}{% endblock %}
