{% load bootstrap4 %}
{% bootstrap_css %}

<h1>Events</h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        <table style="width:80%" class='table table-hover table-striped'>
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>LOLLAPALOOZA 2020</td>
                <td>Belgium</td>
            </tr>
            <tr>
                <td>Creamfields</td>
                <td>Norway</td>
            </tr>
            <tr>
                <td>Fiesta de la Vendimia 2021</td>
                <td>Argentina</td>
            </tr>
            <tr>
                <td>Tokio 2020 inauguration ceremony</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>Beer Fest</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Festival de Viña del Mar</td>
                <td>Chile</td>
            </tr>
            </table>
        </tbody>
    </div>   
</div>
