{% extends 'base.html' %}

{% block content %}

    {% load el_pagination_tags %}

    <h1>Events</h1>

    <div class="container-fluid width-90">
        <form autocomplete="off" id="country-form">
            <div class="autocomplete" style="width:300px;">
                <input id="country" type="text" onkeydown="filterCriteria({{countries}}, this);" name="country" placeholder="Country">
            </div>
            <button class="btn btn-primary" onclick="sendData('country', {{countries}});return false;">Submit</button>
        </form>
        
        {% include 'table_events.html' %}
    </div>

{% endblock %}
