<body onload="ListManager.setCountries({{countries}});ListManager.setCities({{cities}});">
    <form autocomplete="off" id="filter-form">
        <div class="row">
            <div class="input-group col-sm-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="material-icons">location_on</i>
                    </span>
                </div>
                
                <select onchange="FilterManager.toggleDisable(['divCountry', 'divCity'], ['country', 'city'], this);" id="online" name="online" class="custom-select h-100">
                    <option value="">Online &amp; Venue</option>
                    <option value="on">Events online</option>
                    <option value="off">Events with venue</option>
                </select>
            </div>
            
            <div id="divCountry" class="input-group col-sm-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="material-icons">public</i>
                    </span>
                </div>

                <input class="autocomplete form-control" id="country" type="text" onkeydown="filterCriteria.filterCountry({{countries}}, this);" name="country" placeholder="Country" >
            </div>

            <div id="divCity" class="input-group col-sm-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="material-icons">location_city</i>
                    </span>
                </div>
                
                <input class="autocomplete form-control h-100" id="city" type="text" onkeydown="filterCriteria.filterCity({{cities}}, this);" name="city" placeholder="State" >
            </div>
        </div>
        
        <input type="text" hidden id="textFeature" name="feature">

        <div class="row mt-2">

            <div class="input-group col-sm-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="material-icons">translate</i>
                    </span>
                </div>
                
                <select id="language" name="language" class="custom-select h-100" >
                    <option value="">Any language</option>
                    {% for language in languages %}
                        <option value={{ language.code }}>{{ language.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="input-group col-sm-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="material-icons">payment</i>
                    </span>
                </div>
                
                <select id="price" name="price" class="custom-select h-100" onchange="FilterManager.toggleDisable(['divCurrency'], ['currency'], this);">
                    <option value="" selected>Any price</option>
                    <option value="free">Free events</option>
                    <option value="paid">Paid events</option>
                </select>
            </div>
            <div class="input-group col-sm-3" id="divCurrency">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="material-icons">monetization_on</i>
                    </span>
                </div>
                <select id="currency" name="currency" class="custom-select h-100" >
                    <option selected value="">Any currency</option>
                    {% for currency in currencies %}
                        <option value={{ currency.code }}>{{ currency.name }} ({{ currency.code }})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="row mt-2">
            
            <div class="input-group col-sm-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="material-icons">dns</i>
                    </span>
                </div>
                
                <select id="feature" class="selectpicker custom-select h-100" multiple data-selected-text-format="count > 2" data-live-search="true" title="Any Feature">
                    {% for feature in features %}
                    <option value="{{ feature.code }}">{{ feature.name }}</option>
                    {% endfor %}
                </select>    
            </div>

            <div class="input-group col-sm-3" >
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="material-icons">view_module</i>
                    </span>
                </div>
                
                <select id="category" name="category" class="custom-select h-100" >
                    <option selected value="">Any category</option>
                    {% for category in categories %}
                        <option value={{ category.code }}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="input-group col-sm-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="material-icons">list</i>
                    </span>
                </div>
                
                <select id="format" name="format" class="custom-select h-100" >
                    <option selected value="">Any format</option>
                    {% for format in formats %}
                        <option value={{ format.code }}>{{ format.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col col-sm-3 ">
                <button class="btn orange-eb text-white" onclick="formManager.formatFormData('country', {{countries}});return false;">Search</button>
            </div>
            
            <div class="col col-sm-9">
                <button type="button" class="clear-filter float-right" onclick="FilterManager.clearFilters();">Clear filters</button>
            </div>
        </div>
    </form>
</body>
