{% load static %}

<nav class="navbar navbar-expand-lg blue-eb container-between">
    <div class="d-flex align-items-center">
		<img class="reduce item" src="{% static "img/eventbrite_logo.png"%}">
		<div class="vl"></div>
		<div class="feed-header__title-top pr-0 mr-0 item">
			<h1 class="mb-0">Events Finder</h1>
		</div>
        <a class="ml-5 item dropdown-user" href="{% url 'find_feature' %}" id="find_feature"><b>Find Features</b></a>
        <a class="pl-4 item dropdown-user" href="{% url 'specific_event' %}" id="find_specific"><b>Find Specific Event</b></a>
	</div>
    
    <div class="d-flex align-items-center">
		<div class="d-flex align-items-center dropdown-user" data-toggle="modal" data-target="#helpModal">
			<i class="material-icons">help</i>
			<div>How it works</div>
		</div>

		<div id="navbarDropdown">
			<a class="d-flex align-items-center nav-link dropdown-user dropdown-toggle orange-arrow" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="material-icons dropdown-user">person</i>
				<span class="dropdown-user">{{ username }}</span>
			</a>
			<form class="dropdown-menu ml-auto form-inline my-2 my-lg-0" method="POST" action="{% url 'logout' %}">
				{% csrf_token %}
				<button class="d-flex dropdown-item" type="submit">
					<div>Logout</div>
					<i class="material-icons ml-auto">logout</i>
				</button>
			</form>
		</div>
    </div>
</nav>
