{% load el_pagination_tags %}

<nav aria-label="Page navigation example" class="float-right">
    <ul class="pagination align-self-end">
        {% for page in pages %}
            {% if page.number == pages.current.number %}
                <li class="page-item active">
                    <a style="background-color: #f05537; border-color: #f05537;" class="page-link" href="{{ page.path }}">{{ page.number }}</a>
                </li>
            {% else %} 
                {% if page.number >= pages.current.number|add:"-6" and page.number <= pages.current.number|add:"6" %}                
                    <li class="page-item">
                        <a class="page-link" href="{{ page.path }}">{{ page.number }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>
