{% load el_pagination_tags %}
{% load static %}

<div class="row justify-content-center">
    <table class="table table-hover table-striped">
        <thead class="thead-blue-eb text-white">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Format</th>
                <th>Organizer</th>
                <th>Country</th>
                <th>Start date</th>
                <th>Language</th>
                <th>Admin site</th>
            </tr>
        </thead>
        
        <tbody>
            
                {% paginate object_list %}
                    {% for event in object_list %}
                        <tr>
                            <td style="word-wrap: break-word; max-width: 300px;">
                                <a class="text-orange" href="{{ event.url }}" target="_blank">
                                    {{ event.name|safe }}
                                </a>
                            </td>
                            <td style="word-wrap: break-word; max-width: 150px;">{{ event.category|safe }}</td>
                            <td style="word-wrap: break-word; max-width: 150px;">{{ event.format|safe }}</td>
                            <td style="word-wrap: break-word; max-width: 150px;">{{ event.organizer|default:"None"|safe }}</td>
                            <td>{{ event.country|default:"Online"|safe }}</td>
                            <td>{{ event.start_date|safe }}</td>
                            <td class="text-center">
                                <img src="{% static "img/flags/"|add:event.language|add:".svg" %}" class="flag">
                            </td>
                            <td class="text-center">
                                <a class="text-blue" href="{{event.admin_url}}" target="_blank">
                                <u>Link</u> 
                            </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% get_pages %}
        </tbody>
    </table>

    {% if not object_list %}
        <p>No events were found.</p>
    {% endif %}
        
</div> 

{% if object_list %}
    <div class="row">
        <div class="col">
            {% include "pagination.html" %}
        </div>
    </div>  
{% endif %}
